/* General */

body {
  @apply !text-[14px] !leading-[22px] font-[400] bg-white;
}

:focus-visible {
  @apply outline-none ring ring-[#C1FF00] ring-offset-2;
}

/* Background */

.bg-neutral {
  background-color: var(--rimkirim-neutral);
}

.bg-neutral-10 {
  background-color: var(--rimkirim-neutral-10);
}

.bg-neutral-20 {
  background-color: var(--rimkirim-neutral-20);
}

.bg-neutral-30 {
  background-color: var(--rimkirim-neutral-30);
}

.bg-neutral-40 {
  background-color: var(--rimkirim-neutral-40);
}

.bg-neutral-60 {
  background-color: var(--rimkirim-neutral-60);
}

.bg-neutral-70 {
  background-color: var(--rimkirim-neutral-70);
}

.bg-neutral-80 {
  background-color: var(--rimkirim-neutral-80);
}

.bg-neutral-90 {
  background-color: var(--rimkirim-neutral-90);
}

.bg-neutral-100 {
  background-color: var(--rimkirim-neutral-100);
}

.bg-primary {
  background-color: var(--rimkirim-primary-main);
}

/* Border */

.border-neutral-30 {
  border-color: var(--rimkirim-neutral-30);
}

.border-neutral-40 {
  border-color: var(--rimkirim-neutral-40);
}

.border-neutral-90 {
  border-color: var(--rimkirim-neutral-90);
}

.border-neutral-100 {
  border-color: var(--rimkirim-neutral-100);
}

.border-primary {
  border-color: var(--rimkirim-primary-main);
}

/* Text */

.text-neutral-60 {
  color: var(--rimkirim-neutral-60);
}

.text-neutral-70 {
  color: var(--rimkirim-neutral-70);
}

.text-neutral-80 {
  color: var(--rimkirim-neutral-80);
}

.text-neutral-90 {
  color: var(--rimkirim-neutral-90);
}

.text-neutral-100 {
  color: var(--rimkirim-neutral-100);
}

header a.brand-logo:focus-visible,
header button:focus-visible {
  @apply outline-none ring ring-[#C1FF00] ring-offset-[6px] ring-offset-white rounded-[4px];
}

footer a:focus-visible {
  @apply outline-none ring ring-[#C1FF00] ring-offset-[6px] ring-offset-[#1E1E1E] rounded-[4px];
}

/* Input */

input,
baseinput {
  @apply h-[46px] bg-white outline-none focus:outline-[#C1FF00] focus:outline-offset-0 rounded-[6px] px-4 py-3 text-neutral-100;
}

input::placeholder,
baseinput::placeholder,
.p-select-label.p-placeholder,
.p-placeholder,
.p-fileupload-basic-content span {
  @apply !text-[14px] !leading-[22px] !text-neutral-60;
}

input:focus-visible,
baseinput:focus-visible {
  @apply ring-offset-0;
}

.p-inputtext {
  @apply !text-[14px] !leading-[22px] !font-[400] bg-white !text-neutral-100;
}

div[role="alert"] {
  @apply text-[12px] text-red-500;
}

/* Select */

.p-select {
  @apply !text-[14px] !leading-[22px] !text-neutral-100 h-[46px] bg-white;
}

.p-select-label {
  @apply !text-[14px] !leading-[22px] !text-neutral-100 !flex !items-center;
}

.p-select-dropdown {
  @apply !w-[52px];
}

/* Text Area */
.p-textarea {
  @apply !text-[14px] !leading-[22px] !font-[400];
}

/* Popover */

.p-popover {
  @apply border !border-neutral-90 !bg-neutral-100 !opacity-90 rounded-[12px] mt-1;
}

.p-popover:before {
  display: none !important;
}

.p-popover.p-popover-flipped:after {
  border-top-color: rgba(30, 30, 30, 0.9);
}

.p-popover:after {
  border-bottom-color: rgba(30, 30, 30, 0.9);
}

.p-popover-content {
  @apply !p-0;
}

/* Upload */

.p-fileupload {
  @apply !border-dashed;
}

.p-fileupload:hover {
  @apply !border-primary;
}

.p-fileupload-header {
  display: none !important;
}

.p-fileupload-content {
  @apply !p-0;
}

/* --- HOMEPAGE --- */

/* CARD */
@keyframes opacity-wave {
  0% {
    opacity: 0.55;
  }

  50% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.55;
  }
}

.wave > * {
  animation: opacity-wave 6s ease-in-out infinite;
}

.wave > *:nth-child(2) {
  animation-delay: 1.2s;
}

.wave > *:nth-child(3) {
  animation-delay: 2.4s;
}

.wave > *:nth-child(4) {
  animation-delay: 3.6s;
}

.wave > *:nth-child(5) {
  animation-delay: 4.8s;
}

/* FLOATING SHAPES */
@keyframes float {
  0% {
    transform: translateY(0) rotate(var(--r, 0deg));
  }

  50% {
    transform: translateY(-12px) rotate(var(--r, 0deg));
  }

  100% {
    transform: translateY(0) rotate(var(--r, 0deg));
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float-slow {
  animation: float 8s ease-in-out infinite;
}

.animate-float-slower {
  animation: float 10s ease-in-out infinite;
}

/* TESTIMONIAL CARD */
.testimonial-card {
  margin-top: 2px;
  width: 22rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  padding: 1.5rem;
  background: white;
  box-shadow: inset 0 0 0 1px rgb(229 231 235);
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.testimonial-card:hover {
  transform: translateY(-2px);
  background: rgb(249 250 251);
}

/* TEXT SELECTION */
::selection {
  background: #c1ff00;
  color: #000;
}

/* MARQUEE */
@keyframes marquee-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

.marquee-left {
  animation: marquee-left 45s linear infinite;
}

.marquee-right {
  animation: marquee-right 45s linear infinite;
  animation-delay: -22.5s;
}

.mask:hover .marquee-left,
.mask:hover .marquee-right {
  animation-play-state: paused;
}

/* GRADIENT MASK */
.mask::before,
.mask::after {
  content: "";
  position: absolute;
  top: 0;
  width: 140px;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.mask::before {
  left: -4px;
  background: linear-gradient(to right, white, transparent);
}

.mask::after {
  right: -4px;
  background: linear-gradient(to left, white, transparent);
}

/* Upload */

/* hide default primevue button */
.rim-file-upload .p-fileupload-choose {
  padding: 0;
  border: none;
  background: transparent;
}

/* wrapper layout */
.rim-file-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  overflow: hidden;
}

/* left button */
.rim-file-button {
  background: #111;
  color: #fff;
  font-size: 14px;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

/* right text */
.rim-file-text {
  padding: 0 12px;
  font-size: 14px;
  color: #9e9e9e;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.p-fileupload-basic:has(.rimkirim-basic-upload) {
  @apply !w-full !h-[46px] !rounded-[8px] bg-white;
  border: 1px solid var(--rimkirim-neutral-30) !important;
}

.rimkirim-basic-upload {
  @apply h-[44px] !bg-neutral-100 !border !border-neutral-100 !rounded-tl-[7px] !rounded-bl-[7px] !rounded-tr-none !rounded-br-none hover:!border-none;
}

.rimkirim-basic-upload:hover {
  @apply !bg-neutral-90;
}

.rimkirim-basic-upload .p-button-label {
  @apply !text-white;
}

/* DatePicker */
.p-datepicker-panel {
  @apply p-0;
}

.p-datepicker-header {
  @apply py-4 px-2 h-[52px];
}

.p-datepicker-prev-button,
.p-datepicker-next-button {
  @apply !text-neutral-100 !p-0;
}

.tableheader {
  @apply !text-neutral-60;
}

.p-datepicker-day-view {
  @apply px-4 py-3;
}

.p-datepicker-day.p-disabled {
  @apply !text-neutral-60 opacity-100;
}

/* Item */
.p-togglebutton-content {
  @apply p-0;
}

.pickup-time.p-selectbutton {
  @apply p-0;
}

.pickup-time.p-togglebutton.p-component {
  @apply !p-0;
}

.p-togglebutton {
  @apply !p-0 bg-transparent border-none;
}

.p-togglebutton-checked::before,
.p-togglebutton-checked::after,
.p-togglebutton::before,
.p-togglebutton::after {
  border-color: transparent;
}
