:root {
  --rimkirim-primary-main: #c1ff00;
  --rimkirim-primary-main-opacity-70: rgba(193, 255, 0, 0.7);
  --rimkirim-primary-hover: #a1d400;

  --rimkirim-neutral: #fff;
  --rimkirim-neutral-10: #fafafc;
  --rimkirim-neutral-20: #f6f6fa;
  --rimkirim-neutral-30: #ededed;
  --rimkirim-neutral-40: #e0e0e0;
  --rimkirim-neutral-60: #9e9e9e;
  --rimkirim-neutral-70: #757575;
  --rimkirim-neutral-80: #616161;
  --rimkirim-neutral-90: #404040;
  --rimkirim-neutral-100: #1e1e1e;
  --rimkirim-neutral-gray: #6b6b6b;

  --rimkirim-purple: #9c26f5;
  --rimkirim-teal: #309786;
  --rimkirim-teal-light: #d6eae7;

  --rimkirim-background-10: var(--rimkirim-neutral-10);
  --rimkirim-background-30: var(--rimkirim-neutral-20);

  --rimkirim-semantic-success: #27c827;
  --rimkirim-semantic-danger: #ff4d4f;
  --rimkirim-semantic-info: #3dadff;
  --rimkirim-semantic-warning: #ff9e42;

  --rimkirim-semantic-bg-success: #cdf4d3;
  --rimkirim-semantic-bg-danger: #ee8384;
  --rimkirim-semantic-bg-info: #c2e5ff;
  --rimkirim-semantic-bg-warning: #ffe0c2;
}
